.link{
    text-decoration: none;
}

.txt-link-head{
    color: darkblue;
    font-weight: bolder;
    font-size: xx-large;
}


.txt-link{
    color: darkblue;
    font-weight: bolder;
    font-size: large;
}

.txt-link:hover{
    color: rgb(136, 173, 1);
}