.main-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

@media screen and (max-width: 750px) {
    .main-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}