.footer-bg {
  background-color: rgb(19, 0, 48);
  position:static;
  bottom: 0;
  width: 100%;
  margin-bottom: -1.5rem;
  padding-bottom: 1%;
}

.nav-title {
  color: yellow !important;
  font-family: "CharukolaUltraLight", sans-serif;
  font-weight: bolder;
}
